<% if can?(:show, Project) %>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= fa_icon_tag('map') %> <%= t(:related_projects) %>
    </button>
    <div class="dropdown-menu">
        <% candidate.projects.each do |p| %>
            <% if p.can_be_viewed_by(current_user) %>
                <%= link_to "# #{p.uid} - #{p.name} - #{p.code}", project_path(p), :class => 'dropdown-item' %>
            <% else %>
                <%= link_to "# #{p.uid} - #{p.name} - #{p.code}", 'javascript:void(0)', :class => 'dropdown-item text-gray' %>
            <% end %>
        <% end %>
    </div>
<% end %>