<% if can?(:show, Project) %>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= fa_icon_tag('map') %> <%= t(:related_projects) %>
    </button>
    <div class="dropdown-menu">
        <% candidate.projects.each do |p| %>
            <%= link_to "# #{p.uid} - #{p.name} - #{p.code}", project_path(p), :class => 'dropdown-item' %>
        <% end %>
    </div>
<% end %>