<%= model_error_tag(@project_code_area) %>
<div class="row">
    <div class="col-12 form-group">
        <%= f.label :name %><span class="text-red">*</span>
        <%= f.text_field :name, :class => 'form-control' %>
    </div>
</div>