<div class="row">
    <% if current_user.is_role?('su', 'admin', 'finance') %>
        <%= render :partial => 'home/widgets/admin_summary' %>
        <%= render :partial => 'home/widgets/admin_statistics_info' %>
    <% elsif current_user.is_role?('pm', 'pa') %>
        <%= render :partial => 'home/widgets/pm_summary' %>
        <%= render :partial => 'home/widgets/ongoing_tasks' %>
    <% else %>

    <% end %>
</div>
