<div class="row">
    <%= render :partial => 'home/widgets/admin_summary' %>
    <%= render :partial => 'home/widgets/admin_statistics_info' %>
    <%#= render :partial => 'home/widgets/finance_chart' %>
</div>
