<div class="row">
    <% if current_user.is_role?('admin') %>
        <%= render :partial => 'home/widgets/admin_summary' %>
        <%= render :partial => 'home/widgets/admin_statistics_info' %>
    <% else %>

    <% end %>
</div>
