<div id="candidate_card" class="row">
    <% @candidates.ids.each do |uid| %>
        <div class="col-lg-12">
            <div class="card px-5 py-3 candidate-card">
                <%= html_safe @card_template.result(uid) %>
            </div>
        </div>
    <% end %>
</div>

<%= button_tag '', :type => 'button', :class => 'float-btn btn-primary fa fa-clipboard shadow',
               :onclick => "clipboard('candidate_card');" %>