<% provide :nav_candidates, 'active' %>
<!-- function buttons -->
<section class="mb-2">
    <div class="row">
        <div class="col-xl-6 mb-0">
            <div class="bg-white shadow roundy p-3 h-100 d-flex align-items-center justify-content-between">
                <%= link_to new_candidate_path, :class => 'bg-primary text-white roundy p-2 text-uppercase' do %>
                    <i class="o-id-card-1"></i> <%= "#{t(:new, :model => mt(:candidate))}" %>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <% 3.times do %>
            <%= render :partial => 'list_unit' %>
        <% end %>
    </div>

    <%= render :partial => 'search_modal' %>
</section>

<script>
    // $(document).ready(function(){
    //     alert('cc');
    // })
</script>