/* define base styles, for global use */

.input-group.input-group-align .input-group-text {
    min-width: 105px;
}

.status.valid:before { background-color: #7CF29C !important; }
.status.invalid:before { background-color: #F0404C !important }

a {
    color: #4680ff;
    text-decoration: none;
}
.roundy { border-radius: 50px; }
.text-smaller { font-size: 0.8rem; }
.text { font-size: 0.9em; }
.text-gray { color: #adb5bd  !important; }
.text-red { color: #F0404C !important; }

.bg-red { background-color: #F0404C !important; }

/* custom checkbox */
.candidate-checkbox { position: absolute !important; left: -15px; }
input[type=checkbox].checkbox-square {
    width: 24px;
    height: 24px;
    background: #eee;
}
.candidate-card p { margin-bottom: 0.5em; }

/* pagination */
.pagination {
    display: block;
    margin-left: auto;
    margin-right: auto;

    .btn {
        color: #222;
        cursor: pointer;
        outline: none;
        text-align: center;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        transition: all .2s;
        font-size: 14px;
        min-width: 15px;
        margin: 0 2px;
        padding: 0 13px;
        float: left;
        display: block;
        height: 38px;
        line-height: 38px;
        &:hover{
            @extend .btn-active;
        }
    }
    .btn-active {
        background: #00a1d6;
        color: #fff !important;
        border: 1px solid #00a1d6;
    }

    .previous_page, .next_page {
        @extend .btn;
        &.disabled {
            display: none;
        }
    }
    a {
        @extend .btn;
    }
    em.current {
        @extend .btn;
        @extend .btn-active;
    }
}