.container-fluid.main {
    margin-top: 54px;
}

#login_form {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

#login_form .logo {
    margin: 10px auto;
    display: block;
    width: 240px;
    height: 60px;
}

.status:before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 3px;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
}
.status.valid:before { background-color: #7CF29C !important; }
.status.invalid:before { background-color: #F0404C !important }
