/* define base styles, for global use */

.input-group.input-group-align .input-group-prepend .input-group-text {
    min-width: 105px;
}

.status.valid:before { background-color: #7CF29C !important; }
.status.invalid:before { background-color: #F0404C !important }

a {
    color: #4680ff;
    text-decoration: none;
}
.btn-xs {
    @extend .btn-sm;
    padding: 0.1rem 0.3rem;
}
.roundy { border-radius: 50px; }
.text-smaller { font-size: 0.8rem; }
.text { font-size: 0.9em; }
.text-gray { color: #adb5bd  !important; }
.text-red { color: #F0404C !important; }

.text-limit-length {
  text-overflow: ellipsis;
}

.bg-red { background-color: #F0404C !important; }

.dropdown-menu.fa-fixed .fa {
    width: 24px;
}
.dropdown-item {
    &:hover{
        background-color: #007bff;
        color: #fff;
    }
}

.model-error {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f5c6cb;
    border-radius: .25rem;
    .model-error-item {
        color: #721c24;
    }
}

/* custom checkbox */
.candidate-checkbox { position: absolute !important; left: -15px; }
input[type=checkbox].checkbox-square {
    width: 24px;
    height: 24px;
    background: #eee;
}
.candidate-card p { margin-bottom: 0.5em; }

/* pagination */
.pagination {
    .btn {
        color: #222;
        cursor: pointer;
        outline: none;
        text-align: center;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ddd;
        transition: all .2s;
        font-size: 14px;
        min-width: 15px;
        margin: 0 2px;
        padding: 0 13px;
        float: left;
        display: block;
        height: 38px;
        line-height: 38px;
        &:hover{
            @extend .btn-active;
        }
    }
    .btn-active {
        background: #00a1d6;
        color: #fff !important;
        border: 1px solid #00a1d6;
    }

    .previous_page, .next_page {
        @extend .btn;
        &.disabled {
            display: none;
        }
    }
    a {
        @extend .btn;
    }
    em.current {
        @extend .btn;
        @extend .btn-active;
    }
}
/* .select2 */
.select2-container {
  width: 100% !important;

  .select2-selection--single {
    background-color: #f0f1f3;
    border-color: #f0f1f3;
    height: 50px;

    .select2-selection__rendered {
      line-height: 50px;
      color: #b4b4b4;
      padding-left: 20px;
      padding-right: 30px;
      font-size: 15px;
    }

    .select2-selection__arrow {
      height: 50px;
      top: 0;
      right: 15px;
    }
  }

  .select2-results__option[aria-selected="true"] {
    background-color: #444;
    color: #fff;
  }

  &.select2-container--open {
    .select2-selection--single {
      border: 1px solid #aaaaaa;
    }
  }
}
