#login_form {
    margin-top: 90px;
}

#login_form .logo {
    margin: 10px auto;
    display: block;
    width: 240px;
    height: 60px;
}

//.float-btn{
//    position: fixed;
//    bottom: 2em;
//    right: 2em;
//    z-index: 1030;
//    font-size: 1.3em;
//    width: 50px;
//    height: 50px;
//    border: none;
//    border-radius: 50px;
//}

.exp-add-btn {
    line-height: 0.8em;
}
.exp-del-btn {
    position: absolute;
    z-index: 9;
    line-height: 0.8em;
}
//.phone-add-btn {
//    color: #495057;
//}
//.phone-del-btn {
//    @extend .phone-add-btn;
//}
//.email-add-btn {
//    @extend .phone-add-btn;
//}
//.email-del-btn {
//    @extend .phone-del-btn;
//}

.candidate-comment-group {
    .candidate-comment-unit {
        border-bottom: 1px solid #e5e9ef;
        margin-bottom: 1rem;
        .content {
            padding-top: 5px;
            padding-left: 15px;
        }
    }
}


