<% provide :nav_clients, 'active' %>
<div class="px-4">
    <section class="py-4">
        <div class="row">
            <div class="col-3">
                <div class="card bg-primary text-white">
                    <div class="card-body" align="center">候选人</div>
                </div> 
            </div>
            <div class="col-3">
                <div class="card bg-success text-white">
                    <div class="card-body" align="center">客户</div>
                </div> 
            </div>
            <div class="col-3">
                <div class="card bg-warning text-white">
                    <div class="card-body" align="center">项目</div>
                </div> 
            </div>
            <div class="col-3">
                <div class="card bg-info text-white">
                    <div class="card-body" align="center">财务</div>
                </div> 
            </div>
        </div>
    </section>

    <section class="pb-4">
        <div class="row">

        </div>
    </section>
</div>