<div class="col-lg-3 col-6 mb-3">
    <div class="card summary-item">
        <div class="symbol blue">
            <%= fa_icon_tag('user-circle') %>
        </div>
        <div class="value">
            <h1 class="count">888</h1>
            <p>PM/PA已创建专家</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-6 mb-3">
    <div class="card summary-item">
        <div class="symbol yellow">
            <%= fa_icon_tag('map') %>
        </div>
        <div class="value">
            <h1 class="count">888</h1>
            <p>已参与项目</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-6 mb-3">
    <div class="card summary-item">
        <div class="symbol red">
            <%= fa_icon_tag('tags') %>
        </div>
        <div class="value">
            <h1 class="count">888</h1>
            <p>已完成任务</p>
        </div>
    </div>
</div>
<div class="col-lg-3 col-6 mb-3">
    <div class="card summary-item purple">
        <div class="symbol">
            <%= fa_icon_tag('users') %>
        </div>
        <div class="value value-light">
            <h1 class="count">888</h1>
            <p>专家访问次数</p>
        </div>
    </div>
</div>